@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

#gestion{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

#img-1{
    width: 750px;

    margin: 0 auto;
    border-radius: 30px;
}

.alert {
    margin-top: -35px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color:blue;
    border: 1px solid transparent;
    border-radius: 4px;
}

